<!-- below code is used to populate the options in design phase under General section -->
<!-- this populates the GUID of record defination selected -->

<label ng-class="options.attrs.label.class">
    <rx-tooltip tooltip="options.tooltip"></rx-tooltip>
    {{options.label}}:
</label>
<div ng-if="data.fields.length">
    <select class="select" ng-options="field[179] for field in data.fields " ng-model="data.selectedField"></select>
</div>

<div ng-if="!data.fields.length">
    Records not available.
</div>
