.rx-img2 {  
  background-size: 100%; 
  min-width: 760px;
  background: url(../../resources/img/light-teal.jpg) no-repeat 0px 0px;  
  display: inline-block;  
  vertical-align: middle;  
  margin-left: 5px;  
  margin-right: 5px;  
  cursor: hand;  
  cursor: pointer;  
}
.rx-record-editor__form2 {
   
    background: transparent !important;
    color: navajowhite;
}