<!DOCTYPE HTML>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shoppy Responsive web vyomlib, Bootstrap Web vyomlibs, Flat Web vyomlibs, Android Compatible web vyomlib, 
Smartphone Compatible web vyomlib, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="/com.vyom.vyomlib/resources/homepage/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="/com.vyom.vyomlib/resources/homepage/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="/com.vyom.vyomlib/resources/homepage/js/jquery-2.1.1.min.js"></script> 
<!--icons-css-->
<link href="/com.vyom.vyomlib/resources/homepage/css/font-awesome.css" rel="stylesheet"> 
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<!--static chart-->
<script src="/com.vyom.vyomlib/resources/homepage/js/Chart.min.js"></script>
    
<!--//charts-->
<!-- geo chart -->
 <script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
<!--    <script>window.modernizr || document.write('<script src="lib/modernizr/modernizr-custom.js"><\/script>')</script>-->
<!--    <script src="lib/html5shiv/html5shiv.js"></script>-->
    
    <!--floating window -->
    <style>
     .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:white;
	color:black;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
           </style>
    
     <!-- Chartinator  -->
<script src="/com.vyom.vyomlib/resources/homepage/js/chartinator.js" ></script>
    <script type="text/javascript">
        jQuery(function ($) {

            var chart3 = $('#geoChart').chartinator({
                tableSel: '.geoChart',

                columns: [{role: 'tooltip', type: 'string'}],
         
                colIndexes: [2],
             
                rows: [
                    ['China - 2015'],
                    ['Colombia - 2015'],
                    ['France - 2015'],
                    ['Italy - 2015'],
                    ['Japan - 2015'],
                    ['Kazakhstan - 2015'],
                    ['Mexico - 2015'],
                    ['Poland - 2015'],
                    ['India - 2019'],
                    ['Spain - 2015'],
                    ['Tanzania - 2015'],
                    ['Turkey - 2015']],
              
                ignoreCol: [2],
              
                chartType: 'GeoChart',
              
                chartAspectRatio: 1.5,
             
                chartZoom: 0,
             
                chartOffset: [-12,0],
             
                chartOptions: {
                  
                    width: null,
                 
                    backgroundColor: '#fff',
                 
                    datalessRegionColor: '#F5F5F5',
               
                    region: 'world',
                  
                    resolution: 'countries',
                 
                    legend: 'none',

                    colorAxis: {
                       
                        colors: ['#679CCA', '#337AB7']
                    },
                    tooltip: {
                     
                        trigger: 'focus',

                        isHtml: true
                    }
                }

               
            });                       
        });
    </script>
<!--geo chart-->

<!--skycons-icons-->
<script src="/com.vyom.vyomlib/resources/homepage/js/skycons.js"></script>
<!--//skycons-icons-->
    
<script>
    
function hideWidget()
    {
        
       if(HideIncident == 'true') 
           {
               console.log("enter in function2"+HideIncident);
               document.getElementById("incidentW1").style.display="none";
               document.getElementById("incidentW2").style.display="none";
           }
        if(HideChange == 'true') 
           {
              
               document.getElementById("changeW1").style.display="none";
            
           }
        if(HideSubscriber == 'true') 
           {
               
               document.getElementById("subscriberW1").style.display="none";
               
           }
    }
//function display()
//{
//var arr=displayC.split(","); 
//    console.log(arr);
//if(arr.includes("1"))
//    {
//        document.getElementById("secCol").style.display="none";
//        
//    }
// if (arr.includes("2"))
//    {
//        document.getElementById("thirdCol").style.display="none";
//        
//    } 
// if (arr.includes("3"))
//    {
//        document.getElementById("fourthCol").style.display="none";
//        
//    } 
//}

</script>
</head>
<body onload="display()">
   

<div class="page-container">	
   <div class="">
	   <div class="mother-grid-inner">
           
<!--
           
               <div>
        <h1>{{subscribers}}</h1>
    </div>
-->

<div>
   
</div>
           
           
           
           
           
            <!--header start here-->
<!--				<div class="header-main">
					<div class="header-left">
							<div class="logo-name">
									 <a href="/com.vyom.vyomlib/resources/homepage/index.html"> 
                                
                                <h1>MyIT Alerts</h1> 
                                 <img id="logo" src="" alt="Logo"/>
								  </a> 								
							</div>
  -->                      
							<!--search-box-->
<!--           
								<div class="search-box">
									<form>
										<input type="text" placeholder="Search..." required="">	
										<input type="submit" value="">
									</form>
								</div>
                            <!--//end-search-box-->
                      
<!--
						<div class="clearfix"> </div>
						 </div>
						 <div class="header-right">
							<div class="profile_details_left">
-->
                                
                                <!--notifications of menu start -->
<!--
							<ul class="nofitications-dropdown">
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new messages</h3>
												</div>
											</li>
											<li><a href="#">
											   <div class="user_img"><img src="/com.vyom.vyomlib/resources/homepage/images/p4.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li class="odd"><a href="#">
												<div class="user_img"><img src="/com.vyom.vyomlib/resources/homepage/images/p2.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor </p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											</a></li>
											<li><a href="#">
											   <div class="user_img"><img src="/com.vyom.vyomlib/resources/homepage/images/p3.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all messages</a>
												</div> 
											</li>
										</ul>
									</li>
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new notification</h3>
												</div>
											</li>
											<li><a href="#">
												<div class="user_img"><img src="/com.vyom.vyomlib/resources/homepage/images/p5.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											 </a></li>
											 <li class="odd"><a href="#">
												<div class="user_img"><img src="/com.vyom.vyomlib/resources/homepage/images/p6.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li><a href="#">
												<div class="user_img"><img src="/com.vyom.vyomlib/resources/homepage/images/p7.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li>
												<div class="notification_bottom">
													<a href="#">See all notifications</a>
												</div> 
											</li>
										</ul>
									</li>	
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">9</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 8 pending task</h3>
												</div>
											</li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Database update</span><span class="percentage">40%</span>
													<div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													<div class="bar yellow" style="width:40%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar green" style="width:90%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Mobile App</span><span class="percentage">33%</span>
													<div class="clearfix"></div>	
												</div>
											   <div class="progress progress-striped active">
													 <div class="bar red" style="width: 33%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar  blue" style="width: 80%;"></div>
												</div>
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all pending tasks</a>
												</div> 
											</li>
										</ul>
									</li>	
								</ul>
								<div class="clearfix"> </div>
							</div>  
-->
						<!--notification menu end -->
                              
<!--
						<div class="profile_details">		
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<div class="profile_img">	
												<span class="prfil-img"><img src="/com.vyom.vyomlib/resources/homepage/images/p1.png" alt=""> </span> 
												<div class="user-name">
													<p>Malorum</p>
													<span>Administrator</span>
												</div>
												<i class="fa fa-angle-down lnr"></i>
												<i class="fa fa-angle-up lnr"></i>
												<div class="clearfix"></div>	
											</div>	
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li> 
											<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> 
											<li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="clearfix"> </div>				
						</div>
				     <div class="clearfix"> </div>	
				</div> 
-->

<!--heder end here-->
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block" style="padding-top: 20px;">
<!--market updates updates-->
	 <div class="market-updates">
			<div class="col-md-4 market-update-gd" id="subscriberW1">
                

<!--Change block                -->
				<div class="market-update-block clr-block-1" ng-click="callAction('Saction')">
                
<!--End of Change block-->

                
<!--                <div class="market-update-block clr-block-1" >-->
					<div class="col-md-8 market-update-left">
<!--						<h3>{{subscribers}}</h3>-->
<!--                        <h3>33</h3>-->
                        <h3>{{rxConfiguration.propertiesByName.subscribers | comVyomVyomlibMyFilter}}</h3>
						<h4>Manage Subscription</h4>
						<p>Subscribe MYIT Alerts.</p>
					</div>
					<div class="col-md-4 market-update-right">
						<i class="fa fa-thumbs-o-up" style="font-size:48px;"> </i>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 market-update-gd" id="incidentW1">
                
            
<!--Change block-->
				<div class="market-update-block clr-block-2" ng-click="callAction('Iaction')" >
<!--End of Change block-->
                
                
<!--
                    
                <div class="market-update-block clr-block-2" >
-->
                
                    
                    
				 <div class="col-md-8 market-update-left">
<!--					<h3>{{incidents}}</h3>-->
<!--                     <h3>22</h3>-->
                     <h3>{{rxConfiguration.propertiesByName.incidents | comVyomVyomlibMyFilter}}</h3>
					<h4>Incident Management</h4>
					<p>Restoring normal service operations.</p>
				  </div>
					<div class="col-md-4 market-update-right">
						<i class="fa fa-eye"> </i>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 market-update-gd" id="changeW1">
                
               
<!--Change block  -->
				<div class="market-update-block clr-block-3" ng-click="callAction('Caction')">
<!--End of Change block  -->
                
<!--
           
                    <div class="market-update-block clr-block-3" >
-->
                    
                    
					<div class="col-md-8 market-update-left">
<!--						<h3>{{changes}}</h3> -->
<!--                        <h3>15</h3>-->
                        <h3>{{rxConfiguration.propertiesByName.changes | comVyomVyomlibMyFilter}}</h3>
						<h4>Change Management</h4>
						<p>planning,scheduling & tracking changes </p>
					</div>
					<div class="col-md-4 market-update-right">
						<i class="fa fa-cubes" style="font-size:48px;"> </i>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
		   <div class="clearfix"> </div>
		</div>
<!--market updates end here-->
<!--mainpage chit-chating-->
<div class="chit-chat-layer1">
	<div class="col-md-6 chit-chat-layer1-left" id="incidentW2">
               <div class="work-progres" style="  height: 400px; overflow-y: scroll;" >
                            <div class="chit-chat-heading">
                                  Incident/Outages
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>IncidentID</th>
                                      <th>Summary</th>                                   
                                                                        
                                      <th>Status</th>
                                  </tr>
                              </thead>
                              <tbody>
<!--Change block-->
                                <tr ng-repeat="x in mydata">
                                  <td>{{$index+1}}</td>
                                  <td>{{x['1']}}</td>
                                  <td>{{x['8']}}</td>                               
                                  <td><span class="label label-danger">{{x['7']}}</span></td>
                                 
                              </tr>
<!--End of Change block-->
<!--
                            <tr>
                                  <td>1</td>
                                  <td>INC000000092</td>
                                  <td>Email Service</td>                               
                                  <td><span class="label label-success">In Progress</span></td>
                                 
                              </tr>   
                            <tr>
                                  <td>2</td>
                                  <td>INC000000093</td>
                                  <td>Database</td>                               
                                  <td><span class="label label-success">In Progress</span></td>
                                 
                              </tr> <tr>
                                  <td>3</td>
                                  <td>INC000000094</td>
                                  <td>Email Service</td>                               
                                  <td><span class="label label-success">In Progress</span></td>
                                 
                              </tr>   
                            <tr>
                                  <td>4</td>
                                  <td>INC000000095</td>
                                  <td>Database</td>                               
                                  <td><span class="label label-success">In Progress</span></td>
                                 
                              </tr>
                                                                </tr> <tr>
                                  <td>5</td>
                                  <td>INC000000096</td>
                                  <td>Email Service</td>                               
                                  <td><span class="label label-success">In Progress</span></td>
                                 
                              </tr>   
                            <tr>
                                  <td>6</td>
                                  <td>INC000000097</td>
                                  <td>Database</td>                               
                                  <td><span class="label label-success">In Progress</span></td>
                                 
                              </tr>
                                  
                            <tr>
                                  <td>5</td>
                                  <td>INC000000098</td>
                                  <td>Internet Service</td>                               
                                  <td><span class="label label-danger">Closed</span></td>
                                 
                              </tr>  
                                  
-->
                                  
                            <!--  <tr>
                                  <td>2</td>
                                  <td>Twitter</td>
                                  <td>Evan</td>                               
                                                                  
                                  <td><span class="label label-success">completed</span></td>
                                  <td><span class="badge badge-success">100%</span></td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>Google</td>
                                  <td>John</td>                                
                                  
                                  <td><span class="label label-warning">in progress</span></td>
                                  <td><span class="badge badge-warning">75%</span></td>
                              </tr>
                              <tr>
                                  <td>4</td>
                                  <td>LinkedIn</td>
                                  <td>Danial</td>                                 
                                                             
                                  <td><span class="label label-info">in progress</span></td>
                                  <td><span class="badge badge-info">65%</span></td>
                              </tr>
                              <tr>
                                  <td>5</td>
                                  <td>Tumblr</td>
                                  <td>David</td>                                
                                                                 
                                  <td><span class="label label-warning">in progress</span></td>
                                  <td><span class="badge badge-danger">95%</span></td>
                              </tr>
                              <tr>
                                  <td>6</td>
                                  <td>Tesla</td>
                                  <td>Mickey</td>                                  
                                                             
                                  <td><span class="label label-info">in progress</span></td>
                                  <td><span class="badge badge-success">95%</span></td>
                              </tr>-->
                          </tbody>
                      </table>
                  </div>
             </div>
      </div>
    <!------- Geo Chart hide----------------->
     <div class="col-md-6 chit-chat-layer1-rit" id="secCol" >    	
      	  <div class="geo-chart" style="  height: 400px;">
              

				<section id="charts1" class="charts">
				<div class="wrapper-flex">
				
				    <table id="myTable" class="geoChart tableChart data-table col-table" style="display:none;">
				        <caption>Subscriber</caption>
				        <tr>
				            <th scope="col" data-type="string">Country</th>
				            <th scope="col" data-type="number">Number of Subscribers</th>
				            <th scope="col" data-role="annotation">Annotation</th>
				        </tr>
				        <tr>
				            <td>China</td>
				            <td align="right">1</td>
				            <td align="right">1</td>
				        </tr>
				        <tr>
				            <td>Colombia</td>
				            <td align="right">5</td>
				            <td align="right">5</td>
				        </tr>
				        <tr>
				            <td>France</td>
				            <td align="right">3</td>
				            <td align="right">3</td>
				        </tr>
				        <tr>
				            <td>Italy</td>
				            <td align="right">1</td>
				            <td align="right">1</td>
				        </tr>
				        <tr>
				            <td>Japan</td>
				            <td align="right">18</td>
				            <td align="right">18</td>
				        </tr>
				        <tr>
				            <td>Kazakhstan</td>
				            <td align="right">1</td>
				            <td align="right">1</td>
				        </tr>
				        <tr>
				            <td>Mexico</td>
				            <td align="right">1</td>
				            <td align="right">1</td>
				        </tr>
				        <tr>
				            <td>Poland</td>
				            <td align="right">1</td>
				            <td align="right">1</td>
				        </tr>
				        <tr>
				            <td>India</td>
				            <td align="right">11</td>
				            <td align="right">11</td>
				        </tr>
				        <tr>
				            <td>Spain</td>
				            <td align="right">2</td>
				            <td align="right">2</td>
				        </tr>
				        <tr>
				            <td>Tanzania</td>
				            <td align="right">1</td>
				            <td align="right">1</td>
				        </tr>
				        <tr>
				            <td>Turkey</td>
				            <td align="right">2</td>
				            <td align="right">2</td>
				        </tr>
				
				    </table>
				
				    <div class="col geo_main">
				         <h3 id="geoChartTitle">World Market</h3>
				        <div id="geoChart" class="chart"> </div>
				    </div>
				
				
				</div>
				</section>			
			</div>
      </div> 
     <div class="clearfix"> </div>
</div>
<!--main page chit chating end here-->
<!--main page chart start here-->


    
       
<div class="main-page-charts">
   <div class="main-page-chart-layer1">
		<div class="col-md-6 chart-layer1-left" id="thirdCol"> 
        <!--    <div class="prograc-blocks">
		     Progress bars
      <div class="home-progres-main">
	           <h3>Total Sales</h3>
	         </div>
	        <div class='bar_group'>
					<div class='bar_group__bar thin' label='New' show_values='true' tooltip='true' value='{{statusValue[0]}}' style="width:{{statusValue[0]}}%;margin-bottom: 40px;"></div>
					<div class='bar_group__bar thin' label='Assigned' show_values='true' tooltip='true' value='{{statusValue[1]}}' style="width:{{statusValue[1]}}%;margin-bottom: 40px;"></div>
					<div class='bar_group__bar thin' label='Fixed' show_values='true' tooltip='true' value='{{statusValue[2]}}' style="width:{{statusValue[2]}}%;margin-bottom: 40px;"></div>
					<div class='bar_group__bar thin' label='Rejected' show_values='true' tooltip='true' value='{{statusValue[3]}}' style="width:{{statusValue[3]}}%;margin-bottom: 40px;"></div>
                    <div class='bar_group__bar thin' label='Closed' show_values='true' tooltip='true' value='{{statusValue[4]}}' style="width:{{statusValue[4]}}%;margin-bottom: 40px;"></div>
		    </div>
				<script src="/com.vyom.vyomlib/resources/homepage/js/bars.js"></script>

	      <!--//Progress bars
	     </div>-->
		
		</div>
		 <div class="col-md-6 chart-layer1-right" id="fourthCol"> 
             <!--	<div class="content-main revenue">			
					<h3>Total Revenue</h3>
					<canvas id="radar" height="400" width="300" style="width: 300px; height: 400px;"></canvas>
						<script>
							var radarChartData = {
								labels : ["","","","","","",""],
								datasets : [
									{
										fillColor : "rgba(104, 174, 0, 0.83)",
										strokeColor : "#68ae00",
										pointColor : "#68ae00",
										pointStrokeColor : "#fff",
										data : [65,59,90,81,56,55,40]
									},
									{
										fillColor : "rgba(236, 133, 38, 0.82)",
										strokeColor : "#ec8526",
										pointColor : "#ec8526",
										pointStrokeColor : "#fff",
										data : [28,48,40,19,96,27,100]
									}
								]
								
							};
							new Chart(document.getElementById("radar").getContext("2d")).Radar(radarChartData);
						</script>
		</div> -->
             
			<!--<div class="user-marorm">
			<div class="malorum-top">				
			</div>
			<div class="malorm-bottom">
				<span class="malorum-pro"> </span>
			     <h4>unde omnis iste</h4>
				 <h2>Melorum</h2>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising.</p>
				<ul class="malorum-icons">
					<li><a href="#"><i class="fa fa-facebook"> </i>
						<div class="tooltip"><span>Facebook</span></div>
					</a></li>
					<li><a href="#"><i class="fa fa-twitter"> </i>
						<div class="tooltip"><span>Twitter</span></div>
					</a></li>
					<li><a href="#"><i class="fa fa-google-plus"> </i>
						<div class="tooltip"><span>Google</span></div>
					</a></li>
				</ul>
			</div>
		   </div>
		</div>-->
	 <div class="clearfix"> </div>
  </div>
 </div>
<!--main page chart layer2-->
 <div class="chart-layer-2">
	<!--
	<div class="col-md-6 chart-layer2-right">
				<div class="glocy-chart">
			<div class="span-2c">  
                        <h3 class="tlt">Incident Analytics</h3>
                        <canvas id="bar" height="300" width="400" style="width: 400px; height: 300px;"></canvas>
                        <script>
                            var statusValue=[];
                            console.log($scope.mydata);
                            var barChartData = {
                            labels : ["New","Assigned","Fixed","Rejected","Closed"],
                            datasets : [
                                {
                                    fillColor : "#FC8213",
                                    data :  $scope.mydata;
                                  //  data : [12,11,0,0,0,0,0]
                                   
                                }/*,
                                {
                                    fillColor : "#337AB7",
                                    data : [12,0,0,0,0,0,0]
                                }*/
                            ]

                        };
                            new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);

                        </script>
                    </div> 			  		   			
			</div>
	</div>-->
	<div class="col-md-6 chart-layer2-left">
	<!--- code  -->
	</div>
  <div class="clearfix"> </div>
</div>

<!--climate start here-->
 <div class="climate">
	<div class="col-md-4 climate-grids">
		<div class="climate-grid1">
			<div class="climate-gd1-top">
				<div class="col-md-6 climate-gd1top-left">
					<h4>   Details</h4>
					<h3>MyIT Alerts</h3>				
					<p>Incidents:</p>					
					<p>Changes:</p>
					<p>Subscriptions:</p>
				</div>
				<div class="col-md-6 climate-gd1top-right" style="text-align-last: center;">
					  <span class="clime-icon"> <span class="clime-icon">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-camera-retro fa-3x"></i>
					  	<figure class="icons">
<!--
								<canvas id="partly-cloudy-day" width="64" height="64">
								</canvas>
-->
							</figure>
						<script>
							 var icons = new Skycons({"color": "#fff"}),
								  list  = [
									"clear-night", "partly-cloudy-day",
									"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
									"fog"
								  ],
								  i;

							  for(i = list.length; i--; )
								icons.set(list[i], list[i]);

							  icons.play();
						</script>					  
				   </span>	
                          <br>
					  <p>{{rxConfiguration.propertiesByName.incidents | comVyomVyomlibMyFilter}}</p>					
					  <p>{{rxConfiguration.propertiesByName.changes | comVyomVyomlibMyFilter}}</p>
					   <p>{{rxConfiguration.propertiesByName.subscribers | comVyomVyomlibMyFilter}}</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="climate-gd1-bottom">
				<div class="col-md-4 cloudy1">
						<h4>Hongkong</h4>
<!--                        <i class="fa fa-camera-retro fa-3x"></i>-->
<!--                            <i class="fa fa-bar-chart fa-2x"></i>-->
                    <i class="fa fa-globe fa-3x" style="color:white;"><!-- icon --></i>
                            
						  <figure class="icons">
<!--
							<canvas id="sleet" width="58" height="58">
							</canvas>
-->
					       </figure>
					       <script>
								 var icons = new Skycons({"color": "#fff"}),
									  list  = [
										"clear-night", "clear-day",
										"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
										"fog"
									  ],
									  i;
	
								  for(i = list.length; i--; )
									icons.set(list[i], list[i]);
	
								  icons.play();
							</script>
						<h3>11</h3>
					</div>
					<div class="col-md-4 cloudy1">
						<h4>UK</h4>
                        <i class="fa fa-globe fa-3x" style="color:white;"><!-- icon --></i>
                        
						<figure class="icons">
<!--					<canvas id="cloudy" width="58" height="58"></canvas>-->
				</figure>					
					<script>
							 var icons = new Skycons({"color": "#fff"}),
								  list  = [
									"clear-night", "cloudy",
									"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
									"fog"
								  ],
								  i;

							  for(i = list.length; i--; )
								icons.set(list[i], list[i]);

							  icons.play();
						</script>
						<h3>14</h3>
					</div>
					<div class="col-md-4 cloudy1">
						<h4>USA</h4>
                        <i class="fa fa-globe fa-3x" style="color:white;"><!-- icon --></i>
                   
						<figure class="icons">
<!--							<canvas id="snow" width="58" height="58"></canvas>-->
						</figure>
				        <script>
							 var icons = new Skycons({"color": "#fff"}),
								  list  = [
									"clear-night", "clear-day",
									"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
									"fog"
								  ],
								  i;

							  for(i = list.length; i--; )
								icons.set(list[i], list[i]);

							  icons.play();
						</script>
						<h3>12</h3>
					</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="col-md-4 climate-grids">
        <div class="boost-icons-list">
					<ul>
                        <li ng-click="redirecturl(url1)"><br>	<i class="glyphicon glyphicon-home" aria-hidden="true"></i><br>
                      <a href="{{url1}}" target="_blank">    </a></li>
                        <li ng-click="redirecturl(url2)"><br><i class="glyphicon glyphicon-asterisk" aria-hidden="true"></i>  <br> <a href="{{url2}}" target="_blank">    </a></li>
						<li ng-click="redirecturl(url3)"><br><i class="glyphicon glyphicon-plus" aria-hidden="true"></i><br>
                           <a href="{{url3}}" target="_blank">  </a></li>
						<li ng-click="redirecturl(url4)"> <br><i class="glyphicon glyphicon-euro" aria-hidden="true"></i><br>
                            <a href="{{url4}}" target="_blank"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>

	</div>

	<div class="col-md-4 climate-grids">
		<div class="climate-grid3">
			<div class="popular-brand">
				<div class="col-md-6 popular-bran-left">
				     <h3></h3>
				     <h4>Ericsson Global Services</h4>
                    <br>
                    <h5>West Gate Business Park, Corp H3, Bulevardul Iuliu Maniu 197, București</h5>

				</div>
				<div class="col-md-6 popular-bran-right">
                    <a href=https://www.google.com/maps/dir/18.5713009,73.7712419/ericsson+bucharest+romania/@26.0055421,12.6315864,3z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x40b200e47c0ddfcb:0x7f7b86105cfe2aca!2m2!1d25.9868508!2d44.4334329?hl=en-GB>
					<h3>Click</h3>
                    </a>    
				</div>
			  <div class="clearfix"> </div>
			</div>
			<div class="popular-follow">
				<div class="col-md-6 popular-follo-left">
					<p>For more details and help on our services, you can visit our website   </p>
				</div>
				<div class="col-md-6 popular-follo-right">
					<h4>Followers</h4>
					<h5>2892</h5>
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
   
	<div class="clearfix"> </div>
</div>
<!--climate end here-->
</div>
<!--inner block end here-->

</div>
</div>

    
    

           
</body>
</html>                     